@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html, body {
    font: 300 16px 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    color: rgb(60, 72, 88);
    letter-spacing: .01rem;
    background: #323437;
  }

.login-pf-page h1 {
    font-weight: 700;
    font-size:36px;
}
.login-pf-page h2 {
    font-size:24px;
    font-weight: 700;
}
.login-pf-page a {
    color:rgb(216, 114, 146);
}
section#main {
    padding:2rem 0 3rem;
    background:#fff;
}
#kc-form-buttons .btn {
    background:rgb(216, 114, 146);
    border:none;
    width:auto;
    padding: .5rem 4rem;
}
#kc-login:hover {
    background:#cd4a73;
}
input, input.form-control, textarea, textarea.form-control, select, select.form-control, button, .btn {
    border-radius:0px;
}
.form-control:focus {
    border-color: rgb(240, 164, 187);
    -webkit-box-shadow: 0 0 0 0.2rem rgba(244, 66, 155, 0.3);
    box-shadow: 0 0 0 0.2rem rgba(244, 66, 155, 0.3);
}
label {
    margin-bottom:0.3em;
}
.form-group {
    margin-bottom:1.5rem;
}
#kc-page-title {
    margin-bottom:2rem;
}
#kc-header {
    height: 70px;
    padding: 12px 0;
    background:#FFF;
    
    position: relative;
    z-index: 1000;

	box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42),0 1px 10px 0 rgba(0,0,0,0.12),0 4px 5px -2px rgba(0,0,0,0.1);
	text-transform: uppercase;

	font-size: 0.75em;
}
#kc-header img {
    width: 223px;
    height: 46px;
}
.btn {
    box-shadow: none;
    font-weight:500;
    font-size:16px;
}
.identity-providers a {
    margin-bottom:1rem;
    height: 50px;
    width: 240px;
    padding: 14px 0 0 48px;
    font-weight: bolder;
    color: #fff;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: left top;
    transition-delay:0s, 0s, 0s;
    transition-duration:0.218s, 0.218s, 0.218s;
    transition-property:background-color, border-color, box-shadow;
    transition-timing-function:ease, ease, ease;
}
.identity-providers a:hover {
    text-decoration: none;
    -webkit-box-shadow: 0 0 3px 3px rgba(244, 66, 155, 0.3);
    box-shadow: 0 0 3px 3px rgba(244, 66, 155, 0.3);
}
.identity-providers a.google {
    background-color: #4285f4;
    border: 1px solid #4285f4;
    background-image: url(../img/google-icon.svg);
}
.identity-providers a#google {
    background-color: #4285f4;
    border: 1px solid #4285f4;
    background-image: url(../img/google-icon.svg);
}
.identity-providers a#aaf {
    background-color: #f5811d;
    border: 1px solid #f5811d;
    background-image: url(../img/aaf-icon.png);
}
.identity-providers a.local-account {
    background-color: #fff;
    border: 1px solid rgb(216, 114, 146);
    color: #000;
    background-image: url(../img/tinker-icon.png);
    background-size: 27px 34px;
    background-position: 12px 7px;
}

footer#footer {
    color:white;
    padding:2.5rem 0;
}
footer#footer h3 {
    font-size:16px;
    color:#FFF;
    font-weight:700;
    margin-bottom:1.5rem;
}
footer#footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0 -15px;
}
footer#footer li {
    line-height: 1.2em;
    display: inline-block;
}
footer#footer li a {
    color: #fff;
    opacity: 0.86;
    font-size: 0.75em;
    font-weight: bolder;
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
}

.login-via {
    padding: 1rem;
}

.login-via-form-container {
    padding: 1rem;
    background: #efefef;
    margin: 0 auto;
}

.login-list {
    margin-top: 1rem;
    margin-bottom: 0;
}

#kc-form-login {
    margin: 0 auto;
    width: 70%;
    padding: 1rem;
    background: #fff;
}

#kc-login {
    display: inline-block;
}
