@import url('https://fonts.googleapis.com/css?family=Cabin');

body {
    font-family: 'Cabin', sans-serif;
    text-rendering: optimizeLegibility;
}

.login-pf-page h1 {
    font-weight: 700;
    font-size:36px;
}
.login-pf-page h2 {
    font-size:24px;
    font-weight: 700;
}
.login-pf-page a {
    color:#A9CB79;
}
.login-pf body {
    background:#3B3333;
}
section#main {
    padding:2rem 0 3rem;
    background:#F7F7F7;
}
#kc-form-buttons .btn {
    background:#A9CB79;
    border:none;
    width:auto;
    padding: .5rem 4rem;
}
#kc-login:hover {
    background:#95B566;
}
input, input.form-control, textarea, textarea.form-control, select, select.form-control, button, .btn {
    border-radius:0px;
}
label {
    margin-bottom:0.3em;
}
.form-group {
    margin-bottom:1.5rem;
}
#kc-page-title {
    margin-bottom:2rem;
}
div.kc-logo-text {
    width: 192px;
    height:42px;
}
#kc-header {
    height:100px;
    padding:30px 0;
    background:#FFF;
}
.btn {
    box-shadow: none;
    font-weight:500;
    font-size:16px;
}
.identity-providers a {
    margin-bottom:1rem;
    height: 50px;
    width: 240px;
    padding:12px 0 0 60px;
    color: #fff;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: left top;
    transition-delay:0s, 0s, 0s;
    transition-duration:0.218s, 0.218s, 0.218s;
    transition-property:background-color, border-color, box-shadow;
    transition-timing-function:ease, ease, ease;
}
.identity-providers a:hover {
    text-decoration: none;
    -webkit-box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
    box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}
.identity-providers a.google {
    background-color: #4285f4;
    border: 1px solid #4285f4;
    background-image: url(../img/google-icon.svg);
}
.identity-providers a#google {
    background-color: #4285f4;
    border: 1px solid #4285f4;
    background-image: url(../img/google-icon.svg);
}
.identity-providers a#aaf {
    background-color: #f5811d;
    border: 1px solid #f5811d;
    background-image: url(../img/aaf-icon.png);
}
.identity-providers a.local-account {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    background-image: url(../img/ecocloud-icon.svg);
    background-size: 40px 40px;
    background-position: 8px 5px;
}

footer#footer {
    color:white;
    padding:2.5rem 0;
}
footer#footer h3 {
    font-size:16px;
    color:#FFF;
    font-weight:700;
    margin-bottom:1.5rem;
}
footer#footer ul {
    list-style-type: none;
    padding-left:0;
    padding-right:1em;
    margin-bottom: 1.5rem;
}
footer#footer li {
    line-height: 1.2em;
    margin-bottom: .6em;
}

.login-via {
    padding: 1rem;
}

.login-via-form-container {
    padding: 1rem;
    background: #efefef;
    margin: 0 auto;
}
